<aside class="sidebar static">
    <div class="widget">
        <h4 class="widget-title letter text-white">Menu</h4>
        <ul class="naves">
            <li>
                <i class='bx bxs-user'></i>
                <a class="letterB text-white" href="/friends">Friends</a>
            </li>

            <li>
                <i class='bx bxs-chat'></i>
                <a class="letterB text-white" href="/inbox">Inbox</a>
            </li>

            <li>
                <i class='bx bxs-food-menu'></i>
                <a class="letterB text-white" href="/createPage">Create Page</a>
            </li>

            <li>
                <i class='bx bxs-group'></i>
                <a class="letterB text-white" href="/createGroup">Create Group</a>
            </li>
            <li>
                <i class='bx bxs-bell-ring'></i>
                <a class="letterB text-white" href="/notifications">Notifications<span class="badge" id="notifications-badge"></span></span></a>
            </li>
        </ul>
    </div>
</aside>